#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: initial;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
}

.containerRoutes {
  flex: 1;
  padding: 2rem 2rem;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
}

.containerRoutes::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.containerRoutes::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
}

.containerRoutes::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.containerRoutes::-webkit-scrollbar-thumb:active {
  background-color: #353b48;
}

.containerRoutes::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}
